%h2 Bookmarklet tutorial
%p placeholder
%p
  Drag this bookmarklet to the Google Chrome bookmarks bar:
  %a{:href => "javascript:(function(){var ga = document.createElement(\"script\");ga.type = \"text/javascript\"; ga.async = true;    ga.src = \"http://localhost:3000/javascripts/bookmarklet.js\";    var s = document.getElementsByTagName(\"script\")[0]; s.parentNode.insertBefore(ga, s);})();", :style => "background-color:#dddddd;border:2px groove black;padding:5px;padding-top:0px;padding-bottom:2px;color:black;font-family:sans-serif; text-decoration:none; font-size:10pt;margin-top:5px"} Google&nbsp;Bookmark