<h1>Product#new</h1>
<p>Find me in app/views/product/new.html.erb</p>
<%= @w.products.count %> products

<ul>
<% @w.products.each do |product| %>
    <li><%= "Product: #{product.title}, price: #{product.price}" %></li>
<% end %>
</ul>
